* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://i.pinimg.com/originals/1a/a2/00/1aa2008c04d15f46d38b797cb1452ed4.gif') no-repeat center center fixed;
    background-size: cover;
    color: #333333;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 2rem;
    color: #007acc;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: 1px solid #007acc;
    background: #ffffff;
    color: #007acc;
    border-radius: 0.5rem;
}

form button {
    color: #ffffff;
    background: #007acc;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 0.5rem;
}

form button:hover {
    color: #007acc;
    background: #e0f7fa;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding: 0.5rem;
    background: #ffffff;
    color: #333333;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo li {
    flex: 1;
}

.complete-btn, .trash-btn, .edit-btn {
    color: #007acc;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: #e0f7fa;
}

.trash-btn {
    background: #ffe6e6;
}

.edit-btn {
    background: #f0e68c;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check-circle, .fa-edit {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select {
    color: #007acc;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #007acc;
    border-radius: 0.5rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #007acc;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
